@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

header {
    padding: 25px 10px;
    background-color: #6033df;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-size: 0.9rem;
    font-weight: 400;
}

.loginBtn,
.startBtn {
    margin-right: 3%;
    padding: 5px 35px;
    border-radius: 5px;
    border: 1px solid #fff;
    position: relative;
    z-index: 1;
    display: inline-block;
    overflow: hidden;
    transition: color 1s;
}

.hoverBtn:hover {
    color: #6033df;
}

.hoverBtn::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50px;
    z-index: -1;
    width: 0;
    height: 100%;
    background-color: #fff;
    transform: skewX(35deg);
    transition: width 1s;
}

.hoverBtn:hover::before {
    width: 160%;
}

.introduction {
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.introduction img {
    width: 30vw;
}

.introduction h1 {
    color: #474747;
    font-size: 5vw;
}

.introduction h3 {
    color: #6033DF;
    font-size: 2.8vw;
    margin: 40px 0 20px 0;
}

.introduction p {
    width: 65%;
    font-size: 1.8vw;
}

.introduction .startBtn {
    color: #6033df;
    text-decoration: none;
    font-weight: 700;
    margin: 35px 0 10px 0;
    padding: 1vw 8vw;
    border: solid 1px;
    border-radius: 7px;
}

.startBtn:hover {
    color: #fff;
}

.introduction .hoverBtn::before {
    background-color: #6033df;
    z-index: -1;
    transform: skewX(55deg);
}

.users {
    color: #6033DF;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.users p {
    font-size: 1.2vw;
}

.users .dot {
    background-color: #6033DF;
    width: 6px;
    height: 5px;
    border-radius: 50%;
}