body {
  background-color: #000080;
  color: #ffffff;
}

h1 , h2 {
  text-align: center;
  
}

p {
  text-align: center;
}

.left p {
  text-align: justify;
}

.header p {
  text-transform: uppercase;
  
}

.nopoints li {
    list-style-type: none;
}