* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
  color: #ffffff;
  border: 0;
}

body {
  background-image: url(/assets/image/bg-finances.jpg);
  background-size: cover;
}

textarea:focus, input:focus {
  outline: none;
}

a, label {
  font-size: .8rem; /* 16 * .8 = x */
}

a:hover {
  color: #FFD700;
}

/* Container login */

#login-container {
  background-color: #000080;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 30px;
  margin-top: 10vh;
  border-radius: 10px;
  text-align: center;
}

/* Formulário */

form {
  margin-top: 30px;
  margin-bottom: 40px;
}

label, input {
  display: block;
  width: 100%;
  text-align: left;
}

label {
  font-weight:bold;
  padding: 5px;
}

input {
  border-bottom: 2px solid #323232;
  padding: 10px;
  font-size: 1rem;
  margin-bottom: 20px;
  color: #181818;
}

input:focus {
  border-bottom: 2px solid #08558B;
}

#forgot-pass {
  text-align: right;
  display: block;
}

input[type="submit"] {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  height: 40px;
  border-radius: 20px;
  margin-top: 30px;
  color: #ffffff;
  background-color: #FF4500;

}

input[type="submit"]:hover {
  background-color: #181818;
  transition: .5s;
}

/* Registrar */
 #register-container p {
   margin-bottom: 10px;
 }